* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

/* div {
    border: 0.5px solid red
} */

/* Given colours and font styles */

#hero, #header, #footer {
    background-color: #1F2937;
}

#hero-h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.link, #hero-p {
    color: #E5E7EB;
    font-size: 18px;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
}

#hero-button, #call-button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 5px 20px;
}

#hero-button:hover, #call-button:hover {
    background-color: #6ca2f9;
}

#hero-button:active, #call-button:active {
    background-color: #5a95f4;
}

#info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

#quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

/* End of colours and font styles */

a {
    margin: 5px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
}

#right {
    display: flex;
    align-items: center;
}



#hero {
    display: flex;
    justify-content: center;
    padding: 50px 10%;
}

#left-half, #right-half {
    width: 50%;
}

#right-half {
    display: flex;
    justify-content: center; align-items: center;
    background-color: rgb(121, 122, 126);
    color: white;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-container {
    display: flex;
    flex-direction: row;
}

.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.img-cap {
    text-align: center;
}

.img-box {
    outline: 3px solid #3882F6;
    border-radius: 5px;
    height: 135px;
    width: 135px;
}

#quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

#quote-box {
    margin: 7%;
}

#quote-author {
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
}

#call {
    padding: 6%;
}

#call-box {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

#call-text, #footer-text {
    color: #E5E7EB;
}

#call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-button {
    border: 1.5px solid #E5E7EB;
}

#footer {
    display: flex;
    justify-content: center;
    padding: 3%
}

#footer-text {
    font-size: small;
}